{{template "base" .}} {{define "content"}}

<div class="container-fluid mx-auto">
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">Confirm Reservation</h1>

      {{$res := index .Data "reservation"}}


        <strong>Reservation Details:</strong> <br />
        Arrival: {{index .StringMap "start_date"}} <br />
        Departure: {{index .StringMap "end_date"}} <br />
        Room ID: {{$res.RoomID}} <br />
        Room Name: {{$res.Room.RoomName}}


        {{/* Temporarily disabling client side validation */}}
        <form
          method="post"
          action="/confirm"
          class="needs-validation"
          novalidate
        >


        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
        <input type="hidden" name="room_id" value="{{$res.RoomID}}" />
        <input type="hidden" name="start_date" value="{{index .StringMap "start_date"}}" />
        <input type="hidden" name="end_date" value="{{index .StringMap "end_date"}}" />

        <div class="form-group mt-5">
          <label for="first_name">First Name</label>
          {{/*
          <div class="form-text form-error">This field cannot be blank</div>
          */}} {{with .Form.Errors.Get "first_name"}}
          <label class="text-danger">{{.}}</label>
          {{end}} <input type="text" name="first_name" id="first_name"
          class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid
          {{end}}" value="{{$res.FirstName}}" required autocomplete="off" />
        </div>

        <div class="form-group">
          <label for="last_name">Last Name</label>
          {{with .Form.Errors.Get "last_name"}}
          <label class="text-danger">{{.}}</label>
          {{end}} <input type="text" name="last_name" id="last_name"
          class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid
          {{end}}" value="{{$res.LastName}}" required autocomplete="off" />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          {{with .Form.Errors.Get "email"}}
          <label class="text-danger">{{.}}</label>
          {{end}} <input type="text" name="email" id="email" class="form-control
          {{with .Form.Errors.Get "email"}} is-invalid {{end}}"
          value="{{$res.Email}}" required autocomplete="off" />
        </div>

        <div class="form-group">
          <label for="phone">Phone</label>
          {{with .Form.Errors.Get "phone"}}
          <label class="text-danger">{{.}}</label>
          {{end}} <input type="text" name="phone" id="phone" class="form-control
          {{with .Form.Errors.Get "phone"}} is-invalid {{end}}"
          value="{{$res.Phone}}" required autocomplete="off" />
        </div>

        <input
          type="submit"
          class="btn btn-primary"
          class="form-control"
          value="Complete Reservation"
        />
      </form>
    </div>
  </div>
</div>

{{end}}
